{% extends 'base.html' %}

{% block main %}
<div class="loginP">
    <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data">
      {{ form.csrf_token }}

      <div>
        <img src="../static/images/icons/people_64px_big.png" class="imageTop"/>
      </div>

        <h2>Sign Up</h2>
      {% if error %}
        <div class="alert alert-danger">
          <strong>Error:</strong> {{ error }}
        </div>
      {% endif %}

      <div class="pForm">
          {{ form.csrf_token }}
          {{ form.hidden_tag() }}

          {{ form.fname.label }}
          {{ form.fname }}
          <br>
          {{ form.lname.label }}
          {{ form.lname }}
          <br>
          {{ form.email.label }}
          {{ form.email }}
          <br>
          {{ form.password.label }}
          {{ form.password }}
          <br>
          {{ form.confirm.label }}
          {{ form.confirm }}
          <br>
          {{ form.weight.label }}
          {{ form.weight }}
          <br>
          {{ form.height.label }}
          {{ form.height }}
          <br>
          {{ form.profPic.label }}
          {{ form.profPic(class="form-control") }}
      </div>
      <button type="submit" name="submit" class="standard-button">Sign Up</button>
    </form>
</div>
{% endblock %}